


<form action='@Url.Action("Comenzar","Home")' method="get">
    <div class="form-group">
                <label for="username">Nombre de Usuario:</label>
                <input type="text" name="username" id="username" required autocomplete="off"class="input" placeholder="Ingresa tu nombre de usuario">
            </div>
    <div >
        <h1>Categoria</h1>
        @foreach (Categoria c in @ViewBag.Categorias)
        {
            <h6>@c.Nombre</h6>
            <input  type="radio" name="categoria" value="-1"  > 

        }
            
    </div>
    <div>
        <h1>Dificultad</h1>
        @foreach (Dificultad d in @ViewBag.Dificultades)
        {
         <h6>@d.nombre</h6>
         <input  type="radio" name="dificultad" value="-1">
        }
    </div>
    <div>
        <button type="submit" class="start-button" >Comenzar <span class="arrow">➜</span></button>
    </div>
</form>
